body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // font-family: "Verlag-Book","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.h2, h2 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.25;
}

section {
  position: relative;
  overflow: hidden;
}

section h2 {
  margin-bottom: 30px;
  text-align: center;
  color: #333;
  font-size: 30px;
  font-weight: 400;
}

label,
p {
  // font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
