.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  @extend .z-depth-1;
  padding: 8px;
  border-radius: 4px;
  margin: 10px;
  background-color: #fff;
}

.bg {
  &--light {
    background-color: #F5F5F5;
    border-bottom: 1px solid #EAEAEA;
    border-top: 1px solid #EAEAEA;
  }

  &-noise {
    background-image: url("../images/bg-pattern.png");

    &--light:after {
      content: '';
      background-image: url("../images/bg-pattern.png");
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      z-index: -1;
      opacity: 0.7;
    }
  }
}

.bg-light {
  background-color: #F7F7F7;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
}

.padding {
  padding: 50px 0;
}

.center {
  margin: 0 auto;
}

.margin-top {
  margin: 50px 0;
}

.margin-bottom {
  margin-bottom: 30px;
}

.margin-left {
  margin-left: 10%;
}

.fit {
  width: 100%;
}

.btn {
  background-color: $secondary-color;
  color: #fff;
  padding: 15px 30px;
  font-size: 16px;

  &:hover {
    background-color: darken($secondary-color, 10%);
    color: #fff;
  }
}
