.separator-container {
  text-align: center;
  position: relative;
}

.separator-container .separator {
  color: $secondary-color;
  margin: 0 auto 1em;
  width: 15em;
}

.separator-container .separator.line-separator:before, .separator-container .separator.line-separator:after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 10px;
  border: 1px solid $secondary-color;
}

.separator-container .separator.line-separator:before {
  float: left;
}

.separator-container .separator.line-separator:after {
  float: right;
}

.slick-prev:before, .slick-next:before {
  color: $secondary-color;
}

.slick-slider {
  margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a:hover {
  color: $secondary-color;
}

.demo-box {
  height: 150px;
  width: 150px;
  border: 1px solid #CCCCCC;
  background-color: #333;
}

.info h3.text-light {
  max-width: 800px;
  margin: 0 auto 30px;
  color: #aaa;
  font-size: 28px;
  font-weight: 300;
}

.contact h4 {
  font-size: 20px;
  max-width: 800px;
  margin: 0 auto 45px;
  font-weight: 400;
}