.navbar-default {
  background-color: #fff;
  border: none;
  border-radius: 0;
  margin: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.navbar-nav > li > a {
  padding-top: 19px;
  padding-bottom: 19px;
}

.navbar-brand {
  padding: 20px;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.logo {
  margin: 10px 0;
}

.jumbotron {
  padding: 0;
  min-height: 500px;
  position: relative;
  background-color: $dark-color;
  overflow: hidden;
  background-image: url("../images/assets/bg-wood.jpg");
  background-size: cover;

  canvas {
    position: absolute;
  }

  .desk {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  h2 {
    margin-top: 170px;
    font-size: 65px;
    font-weight: 300;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.29);
  }

  p {
    color: #B5B5B5;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.29);
  }
}

.about {
  text-align: center;
  padding: 30px 0 85px;

  p {
    max-width: 735px;
    margin: 0 auto;
    font-size: 18px;
    color: #777;
    padding: 0 10px;
  }
}

.gallery {
  background-color: #333;
  padding: 15px 30px;
  max-height: 180px;
  overflow: hidden;
  background-image: url("../images/assets/bg-wood.jpg");
  background-size: cover;

  .preview {
    height: 150px;
    border: 1px solid #ccc;
    background-color: #fff;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.info {
  font-size: 16px;
  color: #777;
  margin-bottom: 30px;

  h3 {
    font-size: 30px;
    color: #333;
    margin-bottom: 30px;
    font-weight: 400;
  }

  p {
    margin-top: 30px;
    font-size: 18px;
  }

  ul {
    padding: 0;
  }

  li {
    min-height: 30px;
    margin: 10px 0;
    background: url("../images/assets/check.png") no-repeat left center;
    background-position: 0 6px;
    background-size: 20px;
    list-style: none;
    padding-left: 30px;
    line-height: 30px;
  }
}

.accessories {
  img {
    width: 100%;
    padding: 25px 0;
  }
}

.contact {
  padding: 100px 0;

  h3 {
    margin-bottom: 35px;
  }

  input.form-control {
    height: 50px;
  }

  textarea {
    height: 115px;
  }
}

footer {
  background-color: #333;
  padding: 10px;
  color: #fff;
  text-align: right;
}
