@media (max-width: 768px) {
  .body {
    text-align: center;
  }
  .desk {
    width: 100%;
  }
  .jumbotron h2 {
    margin-top: 30px;
  }
  .navbar-default .navbar-toggle {
    margin-top: 14px;
    border: none;
  }
}
